<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title></title>
    <meta name="renderer" content="webkit">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link rel="stylesheet" href="__ADMIN__/lib/layui/css/layui.css" media="all">
    <style>
        body {
            background: #F2F2F2;
            font-size: 14px;
        }

        .blank {
            padding: 10px;
            margin: 10px 0;
            background: #fff;
        }
    </style>
</head>
<body>
<div class="container">
    <div class="blank">
        <p><span>姓名</span>：{$orderInfo.name}（{if condition="$orderInfo['sex'] eq 1"}先生{else/}女士{/if}），{$orderInfo.phone}<br>
            <sapn style="margin-top: 5px">{$orderInfo.address_detail}</sapn>
        </p>
    </div>
    <blockquote class="layui-elem-quote" style="margin: 10px 0;background: #fff">
        送达时间：2019-01-00 12:10
    </blockquote>
    <p class="blank">支付方式：微信</p>
    <div class="blank">
        <table class="layui-table" lay-skin="line" style="border: none">
            <tbody>
            <tr>
                <td colspan="3" style="font-weight: bold">碳在绕.银泰城店</td>
            </tr>
            {volist name="goods" id="vo"}
            <tr>
                <td width="70%">{$vo.name}</td>
                <td width="10%">×{$vo.num}</td>
                <td width="20%" style="text-align: center">￥{$vo.price}</td>
            </tr>
            {/volist}
            <tr>
                <td colspan="2">配送费</td>
                <td style="text-align: center">￥4</td>
            </tr>
            <tr>
                <td colspan="2">总金额</td>
                <td style="text-align: center">￥{$orderInfo.total_prices}</td>
            </tr>
            </tbody>
        </table>
    </div>
    <p class="blank">订单备注：{$orderInfo.leave_words}</p>
    <p class="blank">创建时间：{$orderInfo.create_time}</p>
</div>
<script src="__ADMIN__/lib/layui/layui.js" charset="utf-8"></script>
</body>
</html>